<div class="absolute inset-0 flex items-center justify-center bg-cover bg-center"
     style="background-image:url('/assets/image/bg.png'); background-size: 100%;">
  <div class="max-w-[600px] min-w-[500px] mx-auto p-10 border-3 border-solid border-gray-300 rounded bg-white">
    <div class="text-center text-2xl text-gray-900 dark:text-back">
      <img class="logo mx-auto" src="/assets/image/IconYodYa.png" alt="Logo">
      <p class="m-4">ลืมรหัสผ่าน</p>
    </div>
    <form class="flex flex-col ">
      <label for="username">รหัสนิสิต</label>
      <input class="bg-transparent outline-none border-t-0 border-l-0 border-r-0 border-b border-solid border-black border-1 p-1 px-3 w-full box-border mb-4" 
              type="text" id="username" name="username" [(ngModel)]="code_student" [maxlength]="8" required>
  
      <label for="password">รหัสผ่าน</label>
      <input class="bg-transparent outline-none border-t-0 border-l-0 border-r-0 border-b border-solid border-black border-1 p-1 px-3 w-full box-border mb-4" 
              type="password" id="password" name="password" required>
  
      <label for="confirmPassword">ยืนยันรหัสผ่าน</label>
      <input class="bg-transparent outline-none border-t-0 border-l-0 border-r-0 border-b border-solid border-black border-1 p-1 px-3 w-full box-border mb-4" 
              type="password" id="confirmPassword" name="confirmPassword" required>
      <label >
        <input class="mr-2" type="checkbox" [(ngModel)]="rememberPassword">
        <span>จดจำรหัสผ่าน</span> 
      </label>
      <button class="flex justify-center items-center bg-purple-600 text-lg text-white px-14 py-3 rounded-md cursor-pointer mx-auto mt-6 mb-6" 
              (click)="forgotpassword()" [disabled]="!isValidForm()" type="submit">เปลี่ยนรหัสผ่าน</button>
    </form>
  </div>
</div>

  