 <!-- navbar -->
 <div class="relative bg-navbar text-white border-bg-navbar bg-shadow-navbar">
    <div class="relative flex justify-between ml-40 mr-40">
        <img class="max-w-[135px]" src="../../assets/image/IconYodYa.png" alt="Logo">
  
        <div class="flex items-center justify-center text-lg">
            <a class="no-underline hover:text-navbar pr-8" href="/home">หน้าหลัก</a>
            <a class="no-underline hover:text-navbar pr-8" href="/activity-club">กิจกรรมของชมรม</a>
            <a class="no-underline hover:text-navbar pr-8" href="/calendar">ปฏิทินชมรม</a>
            <div class="w-20 h-20 rounded-full overflow-hidden">
                <img class="w-full h-auto"  routerLink="/profile" src="../../assets/image/profile.png" alt="Profile">
            </div>
        </div>
    </div>
  </div>