<div class="bg-home min-h-screen">
    <app-navbar></app-navbar> 
    
    <!-- ปุ่มเพิ่มกิจกรรม -->
    <div class=" text-center ">
        <button class="relative px-16 py-4 text-lg rounded-md text-white mt-6 mb-6 bg-bt bt-shadow" (click)="togglePopup()" >เพิ่มกิจกรรม</button>
        <span *ngIf="showPopup">
            <app-new-activity [is_update]="is_update" (show)="togglePopup()" [data]="select_activity"></app-new-activity>
        </span>
    </div>
    <div *ngFor="let activity of activity_join;let i = index">
        <app-card-join-activity [activity]="activity" (updated)="loadActivity()" (update)="updateActivity($event)"
            [index_array]="i"
        ></app-card-join-activity>
    </div>
</div>

<!-- feed 1  มี ข้อมวามทั้งหมด + รูป -->
<!-- <div class="pb-6 bg-home">
    <div class="max-w-[1000px] mx-auto p-4 bg-white shadow-md">
        <div class="overflow-hidden">
            <div class="heading">
                <div class="flex pb-4 justify-between">
                    <img class="w-16 h-16 rounded-full mr-6" src="../../assets/image/profile.png" alt="Post Profile">
                    <div class="pb-0 mr-auto">ชื่อ-นามสกุล</div>
                    <img class="relative cursor-pointer w-2 h-8" (click)="togglePopup()" src="../../assets/image/Group.png" alt="Hamburger Dot">
                </div>
                <div class="flex flex-row">
                    <div class="pr-4 pb-4">ชื่อกิจกรรม</div>
                    <div class="pr-4 pb-4">วันที่</div>
                    <div class="pr-4 pb-4">สถานที่</div>
                </div>
                <div class="pb-4">เนื้อหา</div>
                <div class="pb-4" routerLink="/">ลิ้งค์</div>
            </div>
            <div class="position-image">
                <img class="post-image" id="image-1" src="../../assets/image/bg.png" alt="Post Image 1">
                <img class="post-image" id="image-2" src="../../assets/image/bg.png" alt="Post Image 2">
            </div>
        </div>
    </div>
</div>

<div class="pb-6 bg-home">  
    <div class="max-w-[1000px] mx-auto p-4 bg-white shadow-md">
        <div class="overflow-hidden">
            <div class="heading">
                <div class="flex pb-4 justify-between">
                    <img class="w-16 h-16 rounded-full mr-6" src="../../assets/image/profile.png" alt="Post Profile">
                    <div class="pb-0 mr-auto">ชื่อ-นามสกุล</div>
                    <img class="relative cursor-pointer w-2 h-8" src="../../assets/image/Group.png" alt="Hamburger-Dot">
                </div>
                <div class="flex flex-row">
                    <div class="pr-4 pb-4">ชื่อกิจกรรม</div>
                    <div class="pr-4 pb-4">วันที่</div>
                    <div class="pr-4 pb-4">สถานที่</div>
                </div>
                <div class="pb-4">เนื้อหา</div>
                <div class="pb-4" routerLink="/">ลิ้งค์</div>
            </div>
        </div>
    </div>
</div> -->
